body{background-color:#FFFFFF;color:#666666;background-image:url(background.jpg);font-family:Arial,Helvetica,sans-serif;}
h1{background-color:#333366;color:#FFFFFF;background-image:url(head.jpg);background-position:right;
   background-repeat:no-repeat;padding: 58px;font-family:Georgia,"Times New Roman",serif;}
h2{color:#3399CC;font-family:Georgia,"Times New Roman",serif;text-shadow:2px 1px 1px #ccc;padding:7px;}
h3{font-family:Georgia,"Times New Roman",serif;}
#nav{padding: 20px 5px 5px 20px;font-weight:bold;float:left;width:175px;}
#nav ul{list-style-type:none;margin:0;padding-left:0;font-size:1.2em;}
#nav a{text-decoration:none;}
#nav a:link{color:#000033;}
#nav a:visited{color:#344873;}
#nav a:hover{color:#FFFFFF;}
#wrapper{margin-left:auto;margin-right:auto;min-width:960px;width:80%;background-color:#90C7E3;
         -webkit-box-shadow:5px 5px 5px #000033;
         -moz-box-shadow:5px 5px 5px #000033;
         box-shadow:5px 5px 5px　#000033;}
#content img{float:left;padding-right:20px;}
#content ul{list-style-position:inside;}
#content{padding:1px 20px 20px 30px;font-size7%;font-style:italic;font-family:Georgia,"Times New          Roman",Times,serif;background-color:#ffffff;margin-left:175px;}
dt{color:#000033}
.resort{color:#000033;font-weight:bold;}
